/* hide tab icon mute button */
.tab-icon-overlay {
  display: none;
}


/* hide workspaces */

.zen-current-workspace-indicator {
  display: none !important;
}

/* transparent navigation bar on fullscreen mode */

#tabbrowser-arrowscrollbox {
  background: transparent !important;
}

/* hide search recomendations */

.urlbarView {
  /* display: none !important; */
}

/* hide tab icons top offset */

#titlebar {
  display: flex !important;
}

#zen-sidebar-top-buttons {
  display: none !important;
}

#TabsToolbar {
  margin-top: 6px !important;
}

/* page actions on hover */

#page-action-buttons,
#identity-box {
  opacity: 0 !important;
  width: 0px !important;

  transition: 0.3s ease !important;
}

#urlbar:hover #page-action-buttons,
#urlbar:hover #identity-box {
  opacity: 1 !important;
  width: auto !important;
}

/* hide href label */

#statuspanel,
#statuspanel[type="overLink"] {
    display: none !important;
    visibility: collapse !important;
}

/* hide X button on tab button hover */

.tab-close-button {
  display: none !important;
}

/* hide notification-popup (usually "store persistent storage" from chatgpt) */

#notification-popup {
  /*display: none !important;*/
}

/* new tab transparency */

#urlbar[breakout-extend='true'] {
  & .urlbar-background {    
    background-color: rgba(0,0,0, 75%) !important;
    backdrop-filter: blur(5px);
  }
}



/* NAV BAR */


/* hide forward & back buttons */

#nav-bar #nav-bar-customization-target #back-button,
#nav-bar #nav-bar-customization-target #forward-button {
  display: none !important;
}

/* hover for extensins button */

#nav-bar #nav-bar-customization-target #unified-extensions-button {
  opacity: 0 !important;
  transition: 0.3s ease !important;
}

#nav-bar #nav-bar-customization-target #unified-extensions-button:hover {
  opacity: 1 !important;
}

/* hover for application menu */

#nav-bar #PanelUI-button {
  opacity: 0 !important;
  transition: 0.3s ease !important;
}

#nav-bar #PanelUI-button:hover {
  opacity: 1 !important;
}

/* hide X button */

#nav-bar .titlebar-buttonbox-container {
  display: none !important;
}